html
    body
        h1 #{name}
        table(style='width:100%', border='1')
          tr
            th Id
            th Name
            th Age
          tr
            td 001
            td #{clients[0].name}
            td #{clients[0].age}
          tr
            td 002
            td #{clients[1].name}
            td #{clients[1].age}
          tr
            td 003
            td #{clients[2].name}
            td #{clients[2].age}