html
    body
        form(method='POST' action=action enctype='multipart/form-data')
          div
            label(for='pw') New password:
            input#pw(type='password' name='password')
          div
            label(for='pw2') Confirm Password:
            input#pw2(type='password' name='confirmPassword')
          button(type='submit') Submit